# App URLs
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# Database (Neon PostgreSQL)
DATABASE_URL="your-database-url"

# Auth (Better Auth)
BETTER_AUTH_SECRET="ozVAEfvSvvhwPh0wENjULxycaz59zgqzFInKG3tcjbo=" # openssl rand -base64 32

# OAuth (Google)
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
