PUBLIC_WWW_URL=""

DB_URL_AUTH=""
DB_URL_PRODUCT=""
DB_URL_ORDER=""
DB_URL_STORAGE=""
DB_URL_ANALYTICS=""
DB_URL_NOTIFICATION=""

AUTH_SECRET=""
ARCJET_KEY="ajkey_01k9ypn8n8eadr725trefs4cs0"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_USER_ID=""
GOOGLE_REFRESH_TOKEN=""

