# NODE_ENV

# admin
ADMIN_EMAIL=""
ADMIN_PASSWORD=""

# db (neon postgres)
DATABASE_URL=""

# better-auth
BETTER_AUTH_SECRET=""

# oauth (google)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# cache (upstash redis)
KV_REST_API_URL=""
KV_REST_API_TOKEN=""

# email (resend)
RESEND_API_KEY=""

# background jobs (inngest)
INNGEST_EVENT_KEY=""
INNGEST_SIGNING_KEY=""

# monitoring (sentry)
SENTRY_DSN=""
SENTRY_AUTH_TOKEN=""
