{
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "arrowParens": "always",
  "useTabs": false,

  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindAttributes": ["className"]
}
